<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <input type="text" name="username" placeholder="Username" class="username">
    <input type="text" name="room" placeholder="Room Name" class="room">
    <button onclick="join()">Join</button>
    <script>
        function join(){
            link = "/"+document.getElementsByClassName("room")[0].value + "/" + document.getElementsByClassName("username")[0].value;
            window.open(link);
        }
    </script>
</body>
</html>