<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Chat room</title>
    <style>
      .ChatList {
        border: solid black 1px;
        height: 500px;
        width: 500px;
        margin-bottom: 2%;
      }
    </style>
  </head>
  <body>
    <h1>{{LobbyName}}</h1>
    <div class="ChatList"></div>
    <input type="text" id="MssgInput" />
    <button onclick="NewMessage()">Send</button>
    {% csrf_token %}
    <script>
      var LatestChat = ""
    function NewMessage(){
        $.ajax({
                type: "POST",
                url: "/newmssg",
                data: { 
                    mssg: $("#MssgInput").val(),
                    room: "{{LobbyName}}",
                    user: "{{username}}",
                    csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
                },
                success: function(lst) {
                    SetChat(lst.ChatList);
                },
                error: function(result) {
                    alert('error');
                }
            });
    }
      function SetChat(mssgList) {
        ChatArea = document.getElementsByClassName("ChatList")[0];
        ChatArea.innerHTML = ``;
        for (mssg of mssgList) {
          if (mssg[0] == "{{username}}") {
            ChatArea.innerHTML += `<div class="Mymssg" align="right">${mssg[0]}: ${mssg[1]}</div>`;
          } else {
            ChatArea.innerHTML += `<div class="mssg">${mssg[0]}: ${mssg[1]}</div>`;
          }
        }
        LatestChat = mssgList
      };
      if ("{{New}}" !== "True"){
        var list = JSON.parse('{{ChatList|safe}}'); 
        console.log("here")
      SetChat(list);
    }
    // Keep checking updates
    update()
    function update(){
    $.ajax({
                type: "POST",
                url: "/update",
                data: { 
                    room: "{{LobbyName}}",
                    currentStatus: LatestChat,
                    csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
                },
                success: function(lst) {
                    SetChat(lst.chatlst);
                    update()
                },
                error: function(result) {
                    alert('error');
                }
            });
          };
    </script>
  </body>
</html>
